body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-abhaya-libre: "Abhaya Libre";

  /* font sizes */
  --font-size-29xl: 48px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-gray-100: rgba(255, 255, 255, 0.75);
  --color-gray-200: rgba(255, 255, 255, 0.99);
  --color-mediumblue-100: #0135e3;
  --color-white: #fff;
  --color-royalblue: #0770fd;
}
